
<div>
    <h1>{{ title }}</h1>
        Profile

    <ul class="people_list">
  {{#each user}}
    <li>{{this}}</li>
  {{/each}}
</ul>


    <ul class="people_list">
  {{#each license}}
    <li>{{this}}</li>
  {{/each}}
</ul>
</div>